<div id="widgets-left-column">
	<div class="widget" role="navigation">
        <h1 class="widget-heading">Pages</h1>
        <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
        <div class="menu">
			<ul>
            <li><a href="/"><img src="/theme/images/icons2/045.png" class="menu-icon">Home</a></li>
            <li><a href="/2009/10/hello-world/"><img src="/theme/images/icons2/023.png" class="menu-icon">About</a></li>
        	</ul>
		</div>
    </div>

	<div class="widget" role="navigation">
        <h1 class="widget-heading">Categories</h1>
        <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
        <div class="menu">
			<ul>
            	<li><a href="/tag/silly"><img src="/theme/images/icons2/046.png" class="menu-icon">Humor</a></li>
            	<li><a href="/tag/im-not-buying-that"><img src="/theme/images/icons2/046.png" class="menu-icon">I'm Not Buying That</a></li>
        	</ul>
		</div>
    </div>
	<div class="widget">
		<div id="recentcomments" class="dsq-widget"><h2 class="dsq-widget-title">Recent Comments</h2></div>
		<div>
			<script type="text/javascript" src="http://kellielynchorg.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=75"></script>
		</div>
		<a href="http://disqus.com/">Powered by Disqus</a>
	</div>
</div>{% comment %} Seriously: no newline here {% endcomment %}<div id="widgets-right-column">
	<div class="widget">
		<h1 class="widget-heading">More Kellie</h1>
		<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
		<div class="menu">
			<ul>
		    	<li><a href="http://kellielynch.etsy.com"><img src="/theme/images/icons2/199.png" class="menu-icon">Etsy</a></li>
		    	<li><a href="http://tomatofruit.deviantart.com"><img src="/theme/images/icons2/090.png" class="menu-icon">deviantART</a></li>
		    	<li><a href="http://twitter.com/kelliedlynch"><img src="/theme/images/icons2/030.png" class="menu-icon">Twitter</a></li>
		</div>
	</div>

	<div class="widget">
		<h1 class="widget-heading">Stuff I Like</h1>
		<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
		<div class="menu">
			<ul>
		    	<li><a href="http://davidlynch.org"><img src="/theme/images/icons2/007.png" class="menu-icon">My Husband</a></li>
			</ul>
		</div>
	</div>
</div>